.menu-dropdown {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.6s, opacity 0.5s;

    .animate-vertical {
        transform: translateY(0);
    }

    &.hide {
        transform: translateX(400px);
        opacity: 0;

        &.animate-vertical {
            transform: translateY(-400px);
        }
    }
}