@import '../variables';

.menu-svg-bg {
    fill: $MENU_ICON_BG_LIGHT;
}

:is(.dark .dark\:menu-svg-bg-dark) {
    fill: $MENU_ICON_BG_DARK;
}

.menu-svg-col1 {
    fill: $MENU_ICON_IMAGE_LIGHT;
}

:is(.dark .dark\:menu-svg-col1-dark) {
    fill: $MENU_ICON_IMAGE_DARK;
}

.menu-svg-col2 {
    fill: $MENU_ICON_ARROW_UP;
}

.menu-svg-col3 {
    fill: $MENU_ICON_ARROW_DOWN;
}