.number-input {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        appearance: textfield;
        -moz-appearance: textfield;
    }
}

.number-icon svg path {
    fill: var(--text_light);
}

:is(.dark) {
    .number-icon svg path {
        fill: var(--text_dark);
    }
}

.number-input-tip {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    transition: max-height 0.3s ease, margin-top 0.3s ease;

    &.open {
        max-height: 100px;
        margin-top: 0.5rem;
    }
}