input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 30px;
    position: absolute;
    top: 12px;
    right: 12px;
    height: 30px;
}

.number-input-tip {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    transition: max-height 0.3s ease, margin-top 0.3s ease;

    &.open {
        max-height: 100px;
        margin-top: 0.5rem;
    }
}