.select-icon {
    transform: rotate(0deg);
    transition: transform 0.3s ease;

    &.dropdownOpen {
        transform: rotate(180deg);
    }

    svg path{
        fill: var(--text_light);
    }
}

:is(.dark) {
    .select-icon svg path {
        fill: var(--text_dark);
    }
}

.select-options {
    margin-top: 1px;
    max-height: 0;
    transition: max-height 0.3s ease;

    &.dropdownOpen {
        max-height: 400px;
    }
}

.select-item:hover {
    filter: brightness(95%);
}

:is(.dark) {
    .select-item:hover {
        filter: brightness(150%);
    }
}