.text_input-tip {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    transition: max-height 0.3s ease, margin-top 0.3s ease;

    &.open {
        max-height: 100px;
        margin-top: 0.5rem;
    }
}

.input-icon svg path{
    stroke: var(--text_light);
    fill: var(--text_light);
}

:is(.dark) {
    .input-icon svg path {
        stroke: var(--text_dark);
        fill: var(--text_dark);
    }
}