.text_input-tip {
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    transition: max-height 0.6s ease, margin-top 0.6s ease;

    &.open {
        max-height: 100px;
        margin-top: 0.5rem;
    }
}