@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--card_light) inset !important;
    -webkit-text-fill-color: var(--text-light) !important;
}

:is(.dark) {
    input:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px var(--card_dark) inset !important;
        -webkit-text-fill-color: var(--text_dark) !important;
    }
    input[type="time"],
    input[type="datetime-local"],
    input[type="number"] {
        color-scheme: dark;
    }
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background: var(--scrollbar-track_light);
}

:is(.dark) {
    ::-webkit-scrollbar-track {
        background: var(--scrollbar-track_dark);
    }
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb_light);
    border-radius: 20px;
    border: 3px solid var(--scrollbar-border_light);
}

:is(.dark) {
    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb_dark);
        border: 3px solid var(--scrollbar-birder_dark);
    }
}

.icon-svg {
    fill: var(--text_light);
}

:is(.dark .dark\:icon-svg_dark) {
    fill: var(--text_dark);
}

.modal-open {
    overflow-y: hidden;

    @media only screen and (min-width: 768px) {
        padding-right: 12px;

        .navbar {
            padding-right: 12px;
        }
    }
}