$MENU_ICON_BG_LIGHT: #005C9A;
$MENU_ICON_BG_DARK: #FFF;
$MENU_ICON_IMAGE_LIGHT: #FFF;
$MENU_ICON_IMAGE_DARK: #005C9A;
$MENU_ICON_ARROW_UP: #0C9;
$MENU_ICON_ARROW_DOWN: #0BD;

:root {
    --menu_light: #C1C5CB;
    --menu_dark: #1F2937;
    --text_light: #000;
    --text_dark: #FFF;
    --dropdown_light: #FFF;
    --dropdown_dark: #374151;
}